.card__tag {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 14px;
}

.tag-project {
  background-color: darkturquoise;
}

.tag-programming {
  background-color: slateblue;
}
