body {
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: #acc8f6;
  color: #111;
  font-size: 18px;
  font-family: "Roboto";
}

.header {
  inline-size: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-block-end: 40px;
  align-items: center;
}

.header__logo {
  font-family: "Permanent Marker";
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.header__input-search {
  inline-size: 600px;
  block-size: 30px;
  font-size: inherit;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.main {
  margin-block-end: 40px;
}

.main__heading {
  color: #fff;
  margin-block-end: 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;

  display: grid;
  grid-gap: 10px;
}

.to-do > .column__header {
  background-color: #fc7150;
}

.in-progress > .column__header {
  background-color: #5086fa;
}

.testing > .column__header {
  background-color: #fdad52;
}

.done > .column__header {
  background-color: #4fd67a;
}

.column {
  background-color: rgba(255, 255, 255, 0.5);
  min-inline-size: 300px;
  border-radius: 10px;
}

.column__header {
  border-radius: inherit;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 10px;
  transition: 0.2s ease-in;
  color: #fff;
}

.column__button-burger {
  background-color: transparent;
  border: none;
  font-size: 27px;
  cursor: pointer;
  transition: inherit;
  color: inherit;
}

.column__heading {
  transition: inherit;
}

.column__button-burger:hover,
.column__heading:has(+ .column__button-burger:hover) {
  color: #ccc;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  width: 100%;
  background-color: #fff;
}

.footer {
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.footer__link {
  color: #fff;
}
