body {
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: #acc8f6;
  color: #111;
  font-size: 18px;
  font-family: "Roboto";
}



.main {
  margin-block-end: 40px;
}

.main__heading {
  color: #fff;
  margin-block-end: 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;

  display: grid;
  grid-gap: 10px;
}



.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}