.header {
  inline-size: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-block-end: 40px;
  align-items: center;
}

.header__logo {
  font-family: "Permanent Marker";
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.header__input-search {
  inline-size: 600px;
  block-size: 30px;
  font-size: inherit;
  border: none;
  border-radius: 20px;
  padding: 10px;
}